<nav>  
   <ul>
    <% if Current.user %>
     <li>Signedin as: <%= Current.user.name %></li> 
     <li>
        <%= link_to "Logout", logout_path, data: {turbo_method: :delete,
        turbo_confirm: "Are you sure?"
        }%>
     </li>
    
   <% end %>
   </ul>
</nav>  